<% 
# require "yaml"
# yml_output = YAML.load_file(Rails.root + "test/schedule.yml")

#Done.create(:user_id => @user.id, :url => "http://google.com")
#Done.do_url(@user, "http://google.com")
#Done.undo_url(@user, "http://google.com")
%>

<script type="text/javascript">
	function proceed (url) {
		var form = document.createElement('form');
		form.setAttribute('method', 'post');
		form.setAttribute('action', '/homepage/toggle_page_done');
		form.style.display = 'hidden';

		var input = document.createElement("input");
		input.setAttribute("type", "hidden");
		input.setAttribute("name", "url");
		input.setAttribute("value", url);
		form.appendChild(input);

		document.body.appendChild(form);
	}
</script>

<div class="tabbable">
	<%= link_to_with_icon(@user, "test link met url", "http://google.com") %>
	<br>
	<%= link_to_with_icon(@user, "test link met page title", "Quiz 0") %>
	<br>
	<%= link_to_with_icon(@user, "test link met page title", "Quiz 1") %>
	<br>
	<%= link_to_with_icon(@user, "test link met page title", "Problem set 0") %>
	<br>
	<%= link_to_with_icon(@user, "test link met page title", "Problem set 1") %>
	<br>
	<%= link_to_with_icon(@user, "test link met page title", "Problem set 2") %>
</div>

